src/main/resources/tempsTrajetPied/TempsTrajetPied.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempsTrajetPied/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="TempsTrajetPiedRequest" type="exem:TempsTrajetPiedRequestType" xmlns:exem="http://tempsTrajetPied/ws"/>

    <xs:complexType name="TempsTrajetPiedRequestType">
        <xs:all>
            <xs:element type="xs:string" name="adresseDepart"/>
            <xs:element type="xs:string" name="adresseArrivee"/>
        </xs:all>
    </xs:complexType>
	
	<xs:element name="TempsTrajetPied" type="exem:TempsTrajetPiedType" xmlns:exem="http://tempsTrajetPied/ws"/>

    <xs:complexType name="TempsTrajetPiedType">
        <xs:all>
            <xs:element type="xs:time" name="tempsTrajet"/>
        </xs:all>
    </xs:complexType>

</xs:schema>